a.nav {
  top: 20px;
  right: 40px;
  position: fixed;
  width: 25px;
  height: 25px;
  padding: 10px 25px 13px 0;
}
a.nav span,
a.nav span::before,
a.nav span::after {
  position: absolute;
  height: 2px;
  width: 25px;
  display: block;
  content: '';
  transition: all .4s ease-in-out;
}
a.nav_active {
  top: 20px;
  right: 40px;
  position: fixed;
  display: block;
  width: 25px;
  height: 25px;
  padding: 10px 25px 13px 0;
  z-index: 11;
}
a.nav_active span,
a.nav_active span::before,
a.nav_active span::after {
  position: absolute;
  height: 2px;
  width: 25px;
  display: block;
  background: transparent;
  content: '';
  transition: all .4s ease-in-out;
}
a.nav_active span:before,
a.nav_active span:after {
  top: 0;
  background: black;
}
a.nav_active span:before {
  transform: rotate(45deg);
}
a.nav_active span:after {
  transform: rotate(-45deg);
}
.menu {
 transform: translateY(-2000px);
 transition-duration: 1s;
}
.menu_active {
  transform: translateY(0);
  transition-duration: 1s;
}