a.nav {
  top: 20px;
  right: 23px;
  position: fixed;
  width: 25px;
  height: 25px;
  padding: 10px 25px 13px 0;
}
a.nav span,
a.nav span::before,
a.nav span::after {
  position: absolute;
  height: 2px;
  width: 25px;
  display: block;
  content: '';
  transition: all .4s ease-in-out;
}
a.nav_active {
  top: 20px;
  right: 20px;
  position: fixed;
  display: block;
  width: 25px;
  height: 25px;
  padding: 10px 25px 13px 0;
  z-index: 11;
}
a.nav_active span,
a.nav_active span::before,
a.nav_active span::after {
  position: absolute;
  height: 2px;
  width: 25px;
  display: block;
  background: transparent;
  content: '';
  transition: all .4s ease-in-out;
}
a.nav_active span:before,
a.nav_active span:after {
  top: 0;
  background: black;
}
a.nav_active span:before {
  transform: rotate(45deg);
}
a.nav_active span:after {
  transform: rotate(-45deg);
}
.menu {
 transform: translateY(-2000px);
 transition-duration: .6s;
}
.menu li {
  opacity: 0;
  transform: translateY(-100px);
}
.menu_active {
  transform: translateY(0);
  transition-duration: 1s;
}
/* .menu_active li {
  opacity: 0;
}
.menu_active li:nth-child(1) {
  animation: fadeInDown .3s ease-out .8s normal 1;
}
.menu_active li:nth-child(2) {
  animation: fadeInDown .3s ease-out 1s normal 1;
}
.menu_active li:nth-child(3) {
  animation: fadeInDown .3s ease-out 1.2s normal 1;
}
.menu_active li:nth-child(4) {
  animation: fadeInDown .3s ease-out 1.4s normal 1;
}
.menu_active li:nth-child(5) {
  animation: fadeInDown .3s ease-out 1.6s normal 1;
} */
/* @keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */